
.vs/QuizApi/v14/.suo
.vs/QuizApi/v15/.suo
.vs/QuizApi/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
*.cache
*.dll
*.config
*.pdb
.vs/QuizApi/v15/.suo
.vs/QuizApi/v15/Server/sqlite3/db.lock
.vs/QuizApi/v15/Server/sqlite3/storage.ide
.vs/QuizApi/v15/Server/sqlite3/storage.ide-shm
.vs/QuizApi/v15/Server/sqlite3/storage.ide-wal
*.cache
*.dll
*.config
*.pdb
*.cache
QuizApi/obj/Debug/QuizApi.csproj.FileListAbsolute.txt
QuizApi/obj/Debug/QuizApi.csprojResolveAssemblyReference.cache
QuizApi/obj/Debug/QuizApi.dll
QuizApi/obj/Debug/QuizApi.pdb
QuizApi/QuizApi.csproj.user
